<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WIKI</title>
    <style>
        body {
            background-image: url(./img/bg_planet.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        #wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div id="wrapper">
    <a href="" class="btn btn-default btn-inverse btn-rounded">Login</a>
</div>
</body>
</html>